<html>
	<head>
        
        <title>Team4</title>
        {% block head %}
        {% endblock head %}

	<!-- StyleSheets -->
	<link type = "text/css" rel = "stylesheet" href = "../static/base.css"/>
	
	<!-- Atom Feed -->
	<link href="{{ url_for('feed') }}"
      rel="alternate"
      title="Recent Changes" 
      type="application/atom+xml">
	</head>
	
	<body>
		<div id = "head_block">Feed Generator: <a href="/index">Home</a></div>
		{% block content %}{% endblock content %}

	</body>
</html>