<html>
	<head>

        <title>Team4</title>
        {% block head %}
        {% endblock head %}

	<!-- StyleSheets -->
	<link type = "text/css" rel = "stylesheet" href = "../static/css/base.css"/>
	<link type = "text/css" rel = "stylesheet" href = "../static/css/bootstrap.min.css"/>

	<!-- Atom Feed -->
	<link href="{{ url_for('feed') }}"
      rel="alternate"
      title="Recent Changes"
      type="application/atom+xml">
	</head>

	<body>
	<!-- Top level navbar -->
		<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">AndelaRator</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/feed.atom">feeds</a></li>
                    <li><a href="/reader">Aunty Linda</a></li>

                </ul>
            </div>
        </div>
    </div>

		<div id = "head_block" style="margin-top: 10px;">Feed Generator: <a href="/index">Home</a></div>

		<div>FEED: <a href="/feed.atom"> XML FEED</a></div>
		{% block content %}{% endblock content %}

	</body>
</html>