<html>
  <head>
    <title>Team4</title>
    <link type = "text/css" rel = "stylesheet" href = "../static/index.css"/>
  </head>

{% extends "base.html" %}
{% block content %}
    <div id="header">
        <h1>Team4</h1>
        <h4>This is Andela</h4>
    </div>


    <div id="posts">
        {% for post in posts %}
            <div class="post">

                <span class="post-date">{{ post.date|date }}</span>
                <a href= "{{ post.url }}" class="post-title">
                    {{post.title}} </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
</html>